Repository ytdl-patched/ytdl-patched: changes, and which lint-staged commands are due for each by the changed paths.
All: flake8, npx prettier --print-width 200 --write

[tests.yml] remove IronPython that is tremendously slow
  .github/workflows/tests.yml
Due: none

[openrec] add support for openrec.tv
  .gitignore
  youtube_dl/extractor/extractors.py
  youtube_dl/extractor/openrec.py
Due: flake8

[automatic] regenerate docs/supportedsites.md @ 20210205
  docs/supportedsites.md
Due: none

[automatic] regenerate youtube_dl/extractor/mastodon/instances.py @ 20210207
  youtube_dl/extractor/mastodon/instances.py
Due: flake8

[Makefile] rewrite to use advzip when building
  .github/workflows/build.yml
  Makefile
  devscripts/make_zipfile.py
Due: flake8

[build.yml] fix brew formula name
  .github/workflows/build.yml
Due: none

[make_zipfile.py] fix shebang
  devscripts/make_zipfile.py
Due: flake8

[MarshmallowQA] add support for marshmallow-qa.com
  youtube_dl/extractor/extractors.py
  youtube_dl/extractor/qawebsites.py
Due: flake8

[automatic] regenerate docs/supportedsites.md @ 20210208
  docs/supportedsites.md
Due: none

[generic] perform proper redirect on FDL links
  youtube_dl/extractor/generic.py
Due: flake8

[CDN] use setup-node
  .github/workflows/deploy-cdn.yml
Due: none

[niconico:playlist] relax _VALID_URL to allow private playlists (#13)
  youtube_dl/extractor/niconico.py
Due: flake8

[niconico] add warning for economy mode (#13)
  youtube_dl/extractor/niconico.py
Due: flake8

[niconico] backport some extractor changes in animelover1984/youtube-dl
  youtube_dl/extractor/niconico.py
Due: flake8

[niconico] merge flv extraction (#13)
  youtube_dl/extractor/niconico.py
Due: flake8

Update dependency pycryptodome to v3.10.1
  requirements.txt
Due: none

Update JamesIves/github-pages-deploy-action action to v4
  .github/workflows/build.yml
Due: none

[vercel] add release download
  .lintstagedrc.json
  devscripts/vercel.sh
  devscripts/vercel/.gitignore
  devscripts/vercel/api/release/[release]/[filename].js
  devscripts/vercel/package-lock.json
  devscripts/vercel/package.json
Due: npx prettier --print-width 200 --write

[vercel] fix script
  devscripts/vercel.sh
Due: none

[vercel] fix artifacts copying
  devscripts/vercel.sh
Due: none

[vercel] fix redirect url
  devscripts/vercel/README.md
  devscripts/vercel/api/release/[release]/[filename].js
Due: none

[README] rewrite INSTALLATION section and header
  README.md
Due: none

[mildom] change structure
  youtube_dl/extractor/mildom.py
Due: flake8

[automatic] regenerate docs/supportedsites.md @ 20210211
  docs/supportedsites.md
Due: none

[17live] implement partially
  youtube_dl/downloader/__init__.py
  youtube_dl/extractor/extractors.py
  youtube_dl/extractor/ichinanalive.py
Due: flake8

[automatic] regenerate docs/supportedsites.md @ 20210212
  docs/supportedsites.md
Due: none

[17live] stick at mp4 for convenience
  youtube_dl/extractor/ichinanalive.py
Due: flake8

[mastodon] fix str/bytes issue on instance list generator
  devscripts/make_mastodon_instance_list.py
Due: flake8

[automatic] regenerate youtube_dl/extractor/mastodon/instances.py @ 20210214
  youtube_dl/extractor/mastodon/instances.py
Due: flake8

[docker/linux] install at /usr/bin instead of /bin
  docker/linux.Dockerfile
Due: none

[docker/linux] create directory instead
  docker/linux.Dockerfile
Due: none

[17live] implement information extraction
  youtube_dl/extractor/common.py
  youtube_dl/extractor/extractors.py
  youtube_dl/extractor/ichinanalive.py
  youtube_dl/extractor/mildom.py
Due: flake8

[build.yml] remove s390x which is likely failing
  .github/workflows/build.yml
Due: none

[mottohomete] add support for mottohomete.net
  youtube_dl/extractor/extractors.py
  youtube_dl/extractor/qawebsites.py
Due: flake8

[17live] fix suitable(url)
  youtube_dl/extractor/ichinanalive.py
Due: flake8

[17live] fix URL check
  youtube_dl/extractor/ichinanalive.py
Due: flake8

[iwara:user] remove possibility of receiving inacceptable URL
  youtube_dl/extractor/iwara.py
Due: flake8

Path conditions:
  flake8: any of: *.py
  npx prettier --print-width 200 --write: any of: *.json
