Repository ytdl-patched/ytdl-patched: changes, and which lint-staged commands are due for each by the changed paths.
All: flake8, npx prettier --print-width 200 --write

[codespaces.Dockerfile] clean apt cache
  docker/codespaces.Dockerfile
Due: none

[docker-codespaces] build Docker image for Codespaces in Actions
  .devcontainer/devcontainer.json
  .github/workflows/docker-codespaces.yml
Due: npx prettier --print-width 200 --write

[docker-codespaces] add .devcontainer/ for trigger
  .github/workflows/docker-codespaces.yml
Due: none

[codespaces] change to root
  docker/codespaces.Dockerfile
Due: none

[codespaces] change
  .devcontainer/devcontainer.json
  .github/workflows/docker-codespaces.yml
  docker/codespaces.Dockerfile
Due: npx prettier --print-width 200 --write

change
  docker/codespaces.Dockerfile
Due: none

remove sections
  .devcontainer/devcontainer.json
Due: npx prettier --print-width 200 --write

[codespaces] try fixing build error
  .devcontainer/devcontainer.json
  .github/workflows/docker-codespaces.yml
  docker/codespaces.Dockerfile
Due: npx prettier --print-width 200 --write

[codespaces] now this works locally
  .devcontainer/devcontainer.json
  docker/codespaces.Dockerfile
Due: npx prettier --print-width 200 --write

[init_hooks.sh] give executable permission for generated script
  devscripts/init_hooks.sh
Due: none

[codespaces] add pandoc and shellcheck for building and pre-commit
  docker/codespaces.Dockerfile
Due: none

[codespaces] adjust configuration
  .devcontainer/devcontainer.json
Due: npx prettier --print-width 200 --write

[codespaces] install Linuxbrew and advzip
  docker/codespaces.Dockerfile
Due: none

[codespaces] fix scripts
  .github/workflows/docker-codespaces.yml
  docker/codespaces.Dockerfile
Due: none

[codespaces] replace su with subshell
  docker/codespaces.Dockerfile
Due: none

[codespaces] fix nvm path
  .github/workflows/docker-codespaces.yml
  docker/codespaces.Dockerfile
Due: none

[codespaces] fix error
  docker/codespaces.Dockerfile
Due: none

[codespace] ignore errors
  docker/codespaces.Dockerfile
Due: none

[codespaces] fix errors
  docker/codespaces.Dockerfile
Due: none

[codespaces] use prebuilt image
  .devcontainer/devcontainer.json
Due: npx prettier --print-width 200 --write

[codespaces] clean up Dockerfile
  docker/codespaces.Dockerfile
Due: none

[whowatch] use ffmpeg instead of rtmpdump for RTMP formats
  youtube_dl/extractor/whowatch.py
Due: flake8

[downloader/init] allow extractor to request external_downloader
  youtube_dl/downloader/__init__.py
Due: flake8

[external/ffmpeg] accept multiple inputs and additional options
  youtube_dl/downloader/external.py
Due: flake8

[whowatch] merge HLS video and audio in ffmpeg
  youtube_dl/extractor/whowatch.py
Due: flake8

[tokyomotion] declare that it should use ffmpeg
  youtube_dl/extractor/tokyomotion.py
Due: flake8

[whowatch] fix merged m3u8 formats
  youtube_dl/extractor/whowatch.py
Due: flake8

[extractor/common] allow giving format-sorting hint by its name [whowatch] sort formats correctly according to their name
  youtube_dl/extractor/common.py
  youtube_dl/extractor/whowatch.py
Due: flake8

[tokyomotion] sort with new id_preference_dict
  youtube_dl/extractor/common.py
  youtube_dl/extractor/tokyomotion.py
Due: flake8

[whowatch] improve information extraction
  youtube_dl/extractor/whowatch.py
Due: flake8

[codespaces] add more Python versions
  .devcontainer/devcontainer.json
  docker/codespaces.Dockerfile
Due: npx prettier --print-width 200 --write

[codespaces] add more downloaders
  docker/codespaces.Dockerfile
Due: none

[automatic] regenerate youtube_dl/extractor/mastodon/instances.py @ 20210228
  youtube_dl/extractor/mastodon/instances.py
Due: flake8

[automatic] regenerate docs/supportedsites.md @ 20210228
  docs/supportedsites.md
Due: none

[downloader/ffmpeg] add -hide_banner flag unless --verbosr or --quiet option is set
  youtube_dl/downloader/external.py
Due: flake8

[build] allow changing iterations for Zopfli
  .github/workflows/build.yml
  devscripts/make_zipfile.py
  devscripts/pyinstaller_zopfli.py
Due: flake8

Path conditions:
  flake8: any of: *.py
  npx prettier --print-width 200 --write: any of: *.json
