Repository ytdl-patched/ytdl-patched: changes, and which lint-staged commands are due for each by the changed paths.
All: flake8, npx prettier --print-width 200 --write

[qawebsites] add Instagram
  youtube_dl/extractor/qawebsites.py
Due: flake8

[youtube] Add option `--extractor-retries` to retry on known extractor errors
  youtube_dl/YoutubeDL.py
  youtube_dl/__init__.py
  youtube_dl/extractor/youtube.py
  youtube_dl/options.py
Due: flake8

[youtube] port _extract_alerts from yt-dlp
  youtube_dl/extractor/youtube.py
Due: flake8

[build] fix download url
  .github/workflows/build.yml
Due: none

[instagram] retry request on errors
  youtube_dl/extractor/instagram.py
Due: flake8

[instagram] throw last error after retry
  youtube_dl/extractor/instagram.py
Due: flake8

[youtube] add note for merging upstream
  youtube_dl/extractor/youtube.py
Due: flake8

Update dependency websocket_client to v0.58.0
  requirements.txt
Due: none

[tokyomotion] rewrite ugly, duplicated, dirty code
  youtube_dl/extractor/tokyomotion.py
Due: flake8

Update JamesIves/github-pages-deploy-action action to v4.1.0
  .github/workflows/build.yml
Due: none

[codespaces] install AtomicParsley
  docker/codespaces.Dockerfile
Due: none

[wix] remove extractor
  youtube_dl/extractor/extractors.py
  youtube_dl/extractor/wix.py
Due: flake8

[automatic] regenerate docs/supportedsites.md @ 20210306
  docs/supportedsites.md
Due: none

[y2mate] follow --extractor-retries option for retry count
  youtube_dl/extractor/y2mate.py
Due: flake8

[README] closes #18
  README.md
Due: none

[utils] char_replace: return original string in case of no replacement
  youtube_dl/utils.py
Due: flake8

[javhub] allow http:// URLs
  youtube_dl/extractor/javhub.py
Due: flake8

[peertube] add gorf.tube
  youtube_dl/extractor/peertube.py
Due: flake8

[automatic] regenerate docs/supportedsites.md @ 20210316
  docs/supportedsites.md
Due: none

[sponskrub] add support for SponsorBlock, that removes ads/sponsors in the downloaded YouTube videos
  docker/codespaces.Dockerfile
  youtube_dl/__init__.py
  youtube_dl/options.py
  youtube_dl/postprocessor/__init__.py
  youtube_dl/postprocessor/common.py
  youtube_dl/postprocessor/sponskrub.py
  youtube_dl/utils.py
Due: flake8

[LineLive] add support for LINE LIVE
  youtube_dl/extractor/extractors.py
  youtube_dl/extractor/line.py
  youtube_dl/utils.py
Due: flake8

[automatic] regenerate docs/supportedsites.md @ 20210317
  docs/supportedsites.md
Due: none

[niconico:series] add support for https://nicovideo.jp/series/XXX
  youtube_dl/extractor/extractors.py
  youtube_dl/extractor/niconico.py
Due: flake8

[niconico] bring headers from animelover1984/youtube-dl
  youtube_dl/extractor/niconico.py
Due: flake8

[niconico] fix niconico extraction
  youtube_dl/extractor/niconico.py
Due: flake8

[postprocessor/common] backward compatibility
  youtube_dl/postprocessor/common.py
Due: flake8

[Makefile] recompress .tar.gz file
  Makefile
  README.md
Due: none

[windows/icons] add 192 size and recompress PNGs
  icons/icon.sh
  icons/youtube_social_squircle_red.ico
  icons/youtube_social_squircle_red.png
  icons/youtube_social_squircle_white.ico
  icons/youtube_social_squircle_white.png
Due: none

[README] be more descriptive about goals and some others
  README.md
Due: none

[PeerTube] extend instance list and support instance testing like Mastodon extractors
  devscripts/make_peertube_instance_list.py
  youtube_dl/__init__.py
  youtube_dl/extractor/generic.py
  youtube_dl/extractor/peertube.py
  youtube_dl/extractor/peertube/__init__.py
  youtube_dl/extractor/peertube/instances.py
  youtube_dl/extractor/peertube/peertube.py
  youtube_dl/options.py
Due: flake8

[PeerTube/Mastodon] generate instances list in a workflow
  .github/workflows/generate-fediverse-instances-list.yml
Due: none

[windows] also build EXE with py2exe
  .devcontainer/devcontainer.json
  .github/workflows/build.yml
  devscripts/build_windows_exe.ps1
  setup.py
Due: flake8, npx prettier --print-width 200 --write

[windows] fix executable bundling and artifact reference
  .github/workflows/build.yml
  setup.py
Due: flake8

[windows] fix errors
  .github/workflows/build.yml
  devscripts/build_windows_exe.ps1
  setup.py
Due: flake8

＼(＾o＾)／
  .github/workflows/build.yml
  setup.py
Due: flake8

[windows] idk what's going on
  setup.py
Due: flake8

Path conditions:
  flake8: any of: *.py
  npx prettier --print-width 200 --write: any of: *.json
