Repository ytdl-patched/ytdl-patched: changes, and which lint-staged commands are due for each by the changed paths.
All: flake8, npx prettier --print-width 200 --write

[g-f-a] allow failure in generate steps
  .github/workflows/generate-files-automatic.yml
Due: none

[generic] all subnet urls into waitlist, instead of returning it directly
  youtube_dl/extractor/generic.py
Due: flake8

[automatic] regenerate youtube_dl/extractor/peertube/instances.py @ 20210517
  youtube_dl/extractor/peertube/instances.py
Due: flake8

[automatic] regenerate youtube_dl/chrome_versions.py @ 20210517
  youtube_dl/chrome_versions.py
Due: flake8

[build] say farewell to ubuntu-16.04 prior to Sep. 20
  .github/workflows/build.yml
Due: none

[README] add note about cloning this project from Keybase
  README.md
Due: none

[automatic] regenerate docs/supportedsites.md @ 20210519
  docs/supportedsites.md
Due: none

[automatic] regenerate youtube_dl/chrome_versions.py @ 20210519
  youtube_dl/chrome_versions.py
Due: flake8

[automatic] regenerate youtube_dl/extractor/peertube/instances.py @ 20210519
  youtube_dl/extractor/peertube/instances.py
Due: flake8

[youtube] add `html5=1` parameter to get_video_info call
  youtube_dl/extractor/youtube.py
Due: flake8

[README] update project names and so on
  README.md
Due: none

[migration] revert --output default to youtube-dl's default
  yt_dlp/utils.py
Due: flake8

[migration] port everything related to longname and downloaders
  yt_dlp/YoutubeDL.py
  yt_dlp/__init__.py
  yt_dlp/downloader/common.py
  yt_dlp/downloader/external.py
  yt_dlp/downloader/fragment.py
  yt_dlp/downloader/http.py
  yt_dlp/downloader/niconico.py
  yt_dlp/downloader/rtmp.py
  yt_dlp/downloader/rtsp.py
  yt_dlp/longname.py
  yt_dlp/options.py
Due: flake8

[migration] merge youtube.py
  yt_dlp/extractor/youtube.py
Due: flake8

[migration] merge generic.py
  yt_dlp/__init__.py
  yt_dlp/extractor/common.py
  yt_dlp/extractor/generic.py
  yt_dlp/options.py
Due: flake8

[migration] implement all features but --prefer-smaller-formats
  .gitignore
  test/filename_test.py
  test/test_YoutubeDL.py
  yt_dlp/YoutubeDL.py
  yt_dlp/__main__.py
  yt_dlp/downloader/common.py
  yt_dlp/extractor/common.py
  yt_dlp/extractor/extractors.py
  yt_dlp/options.py
  yt_dlp/utils.py
  ytdl.py
Due: flake8

[migration] fix build scripts
  devscripts/install_ironpython.sh
  devscripts/install_jython.sh
  devscripts/make_chrome_version_list.py
  devscripts/make_mastodon_instance_list.py
  devscripts/make_peertube_instance_list.py
  test/run_tests.bat
  test/run_tests.sh
  test/test_websocket.py
  yt_dlp/utils.py
Due: flake8

[migration] fix CI scripts originally created in ytdl-patched
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/generate-files-automatic.yml
  .github/workflows/merge.yml
  .github/workflows/tests.yml
Due: none

[tests] remove 2.7 tests
  .github/workflows/tests.yml
Due: none

[migration] bring make_buildconfig.py
  devscripts/make_buildconfig.py
Due: flake8

[migration] remove unneeded files
  .github/workflows/ci.yml
  .github/workflows/core.yml
  .github/workflows/download.yml
  .github/workflows/quick-test.yml
  ytdlpatched.diff
Due: none

[migration/tests] fix imports
  test/test_longname.py
  test/test_websocket.py
Due: flake8

[migration] oh, I forgot this
  devscripts/make_buildconfig.py
Due: flake8

[migration] fix builds
  Makefile
  devscripts/build_windows_exe.ps1
  devscripts/git-dumb-cdn.sh
  devscripts/init_hooks.sh
  devscripts/inspector/__main__.py
  devscripts/make_zipfile.py
  devscripts/netlify.sh
  devscripts/normalize_version.py
  devscripts/pyinstaller_zopfli.py
  devscripts/readme_for_cdn.py
  devscripts/remove_ci_skip.py
  devscripts/vercel.sh
  devscripts/vercel/.gitignore
  devscripts/vercel/README.md
  devscripts/vercel/api/release/[release]/[filename].js
  devscripts/vercel/package-lock.json
  devscripts/vercel/package.json
Due: flake8, npx prettier --print-width 200 --write

[migration] fix builds (2)
  Makefile
  README.md
  devscripts/bash-completion.in
  devscripts/bash-completion.py
  devscripts/build_windows_exe.ps1
  docs/supportedsites.md
Due: flake8

[niconico] register niconico:live downloader
  yt_dlp/downloader/__init__.py
Due: flake8

[migration] !?
  Makefile
Due: none

[migration] fix builds (3)
  Makefile
Due: none

[migration] fix builds (4)
  Makefile
  README.md
  docs/supportedsites.md
Due: none

[migration] fix builds (5)
  Makefile
Due: none

[build] upload build artifacts from ytdlp branch
  .github/workflows/build.yml
Due: none

[build] fix problems on duplicated ID
  .github/workflows/build.yml
Due: none

[build] fix output assignation
  .github/workflows/build.yml
Due: none

[build] I forgot to mark it as prerelease
  .github/workflows/build.yml
Due: none

[build] fix method of passing URL
  .github/workflows/build.yml
Due: none

[build] fix package name for pip
  .github/workflows/build.yml
Due: none

[tests] fix offline (core) tests
  test/test_http.py
  yt_dlp/YoutubeDL.py
  yt_dlp/extractor/common.py
  yt_dlp/extractor/commonprotocols.py
  yt_dlp/extractor/extractors.py
  yt_dlp/extractor/generic.py
  yt_dlp/utils.py
Due: flake8

[tests] fix test_all_urls
  devscripts/make_lazy_extractors.py
Due: flake8

[README] add new features in ytdl-patched
  README.md
Due: none

Path conditions:
  flake8: any of: *.py
  npx prettier --print-width 200 --write: any of: *.json
