Repository ytdl-patched/ytdl-patched: changes, and which lint-staged commands are due for each by the changed paths.
All: flake8, npx prettier --print-width 200 --write

.lintstagedrc.json:

{
  "*.py": ["flake8"],
  "*.json": ["npx prettier --print-width 200 --write"]
}

[iwara:user2] correct URL if /videos is given
  youtube_dl/extractor/extractors.py
  youtube_dl/extractor/iwara.py
Due: flake8

[mastodon][YoutubeDL] remove all workarounds needed to make Mastodon extractors work
  youtube_dl/YoutubeDL.py
  youtube_dl/compat.py
  youtube_dl/extractor/generic.py
  youtube_dl/extractor/mastodon/mastodon.py
Due: flake8

[dnatube] list extractors
  youtube_dl/extractor/dnatube.py
Due: flake8

[generic] do not include port number into mastodon test
  youtube_dl/extractor/generic.py
Due: flake8

[mastodon] exclude "0" from instances list
  devscripts/make_mastodon_instance_list.py
Due: flake8

[qawebsites] reduce unneeded brackets
  youtube_dl/extractor/qawebsites.py
Due: flake8

[iwara:user] fix failing tests
  youtube_dl/extractor/iwara.py
Due: flake8

[automatic] regenerate docs/supportedsites.md @ 20210215
  docs/supportedsites.md
Due: none

[automatic] regenerate youtube_dl/extractor/mastodon/instances.py @ 20210215
  youtube_dl/extractor/mastodon/instances.py
Due: flake8

[mottohomete] fix typo
  youtube_dl/extractor/qawebsites.py
Due: flake8

[mastdon] exclude ngrok and some other forwarding services
  devscripts/make_mastodon_instance_list.py
Due: flake8

[build.yml] try zopfli for PyInstaller
  .github/workflows/build.yml
  devscripts/pyinstaller_zopfli.py
Due: flake8

[build.yml] build only Zopfli'ed version
  .github/workflows/build.yml
Due: none

[build.yml] reduce matrix for Windows binaries
  .github/workflows/build.yml
Due: none

[lint-staged] add shellcheck for shellscripts
  .lintstagedrc.json
Due: npx prettier --print-width 200 --write

[automatic] regenerate youtube_dl/extractor/mastodon/instances.py @ 20210216
  youtube_dl/extractor/mastodon/instances.py
Due: flake8

[automatic] regenerate docs/supportedsites.md @ 20210216
  docs/supportedsites.md
Due: none

[automatic] regenerate docs/supportedsites.md @ 20210217
  docs/supportedsites.md
Due: none

[build.yml] change zopfli package
  .github/workflows/build.yml
  devscripts/pyinstaller_zopfli.py
  requirements.txt
Due: flake8

[niconico] Prefer smile_high for older videos (#13)
  youtube_dl/extractor/niconico.py
Due: flake8

[y2mate] extend y2mate extractor to all other Youtube extractors
  youtube_dl/extractor/extractors.py
  youtube_dl/extractor/y2mate.py
Due: flake8

[automatic] regenerate docs/supportedsites.md @ 20210218
  docs/supportedsites.md
Due: none

[y2mate] fix all failing tests
  youtube_dl/extractor/y2mate.py
Due: flake8

[y2mate:rushing] add rushing mode
  youtube_dl/extractor/extractors.py
  youtube_dl/extractor/y2mate.py
Due: flake8

[automatic] regenerate docs/supportedsites.md @ 20210220
  docs/supportedsites.md
Due: none

[automatic] regenerate youtube_dl/extractor/mastodon/instances.py @ 20210221
  youtube_dl/extractor/mastodon/instances.py
Due: flake8

[build.yml] run build test on PR, without deploying
  .github/workflows/build.yml
Due: none

[build.yml] fix parameters for JamesIves/github-pages-deploy-action@4.0.0
  .github/workflows/build.yml
Due: none

[automatic] regenerate docs/supportedsites.md @ 20210223
  docs/supportedsites.md
Due: none

[utils] do not do anything for empty string in unescapeHTML and clean_html
  youtube_dl/utils.py
Due: flake8

[disneychris] add support for some pages in disneychris.com
  youtube_dl/extractor/disneychris.py
  youtube_dl/extractor/extractors.py
Due: flake8

[YoutubeDL] add --test-filename that tests filename using process
  test/filename_test.py
  test/test_YoutubeDL.py
  youtube_dl/YoutubeDL.py
  youtube_dl/__init__.py
  youtube_dl/options.py
Due: flake8

[YoutubeDL] assign download result
  youtube_dl/YoutubeDL.py
Due: flake8

[YoutubeDL] extend --test-filename to accept regex
  test/test_YoutubeDL.py
  youtube_dl/YoutubeDL.py
  youtube_dl/options.py
Due: flake8

[Codespaces] add definition to reproduce any time
  .devcontainer/devcontainer.json
  docker/codespaces.Dockerfile
Due: npx prettier --print-width 200 --write

[devcontainer.json] fix definition
  .devcontainer/devcontainer.json
Due: npx prettier --print-width 200 --write
